body {
  font-family: 'Nunito', Arial, sans-serif;
  max-width: 1300px;
}
main {
  max-width: 1300px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 80px;
}
.top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.list {
  padding: 0px 15px 0px 0px;
}
.picture {
  display: flex;
  justify-content: center;
  align-items: center;
}
.melbourne {
  width: 1300px;
  background-image: url("../img/melbourne.jpg");
  background-size: cover;
  background-position: no-repeat center center;
  height: 600px;
  display: block;
  padding-top: 40px;
  margin-bottom: 0px;
}
h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 90px;
  font-style: arial;
  padding-top: 200px;
  height: 50px;
  margin-bottom: 0;
}
.footy {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-style: arial;
  padding-top: 5px;
  height: 20px;
}
.redbutton {
  font-size: 18px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  border: 1px solid red;
  border-radius: 6px;
  height: 50px;
  width: 250px;
}
.middle {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  height: 230px;
}
.love {
  color: gray;
  font-size: 16px;
  margin-bottom: 0;
}

.leftblock {
  width: 400px;
  float: left;
  margin-left: 30px;
}
.rightblock {
  width: 400px;
  float: left;
  margin-right: 30px;
}
.heart {
  display:flex;
  align-items: center;
  justify-content: space-around;
}
.coffee {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 60px;
  width: 400px;
  font-size: 12px;
  color: gray;
}
.quote {
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.complain {
  color: gray;
  font-size: 16px;
  margin-bottom: 0;
}
.tourists {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 60px;
  width: 400px;
  font-size: 12px;
  color: gray;
}
.bottom {
  display:flex;
  flex-direction: column;
  align-items: center;
}
.squares {
  display: flex;
  justify-content: center;
  align-items: center;
}
h4 {
  font-size: 40px;
  margin-bottom: 0;
}
.explore {
  font-size: 16px;
  margin-top: 0px;
}
h5 {
  font-size: 18px;
  margin-bottom: 0;
  padding-top: 30px;
}

.leftsquare {
  background: url("../img/fitzroy.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 30%;
  margin: 1%;
}
.caption {
  display:flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.bottomquote {
  background-color: lightgray;
  color: gray;
  font-size: 12px;
  margin-top: 60px;
  text-align: left;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}
.middlesquare {
  background: url("../img/st-kilda.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 30%;
  margin: 1%;
}
.rightsquare {
  background: url("../img/central-business-district.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 30%;
}
