.landingbody {
  max-width: 1200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 40px;
  font-family: 'Mr De Haviland', cursive;
  font-size: 30px;
  margin-top: 20px;
}
.top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
  margin-bottom: 10px;
  margin-right: 20px;
  color: black;
  font-size: 28px;
  font-weight: 900;
}
.links {
  display: inline;
  padding-left: 0px;
  padding-right: 20px;
  border-right: 1px solid black;
  color: black;
}
a {
  text-decoration: none;
  padding-left: 8px;
  color: black;
}
.searchbutton {
  background-color: white;
  border-width: 0px;
}
.first-photo {
  align-items: center;
  background-image: url('../img/first.jpg');
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 650px;
  width: 1200px;
  margin-top: 30px;
}
.first {
  font-family: 'Mr De Haviland', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:
  font-weight: 900;
}
.first-button{
  background-image: url('../img/film.png');
  color: black;
  font-family: 'Mr De Haviland', cursive;
  font-weight: 900;
  width: 200px;
  height: 183px;
  font-size: 28px;
  margin-top: 480px;
  background-color: white;
}
.middle {
  display:flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  font-family: 'Mr De Haviland', cursive;
  font-size: 34px;
}

h2 {
  font-size: 34px;
}
.class2 {
  color: white;
  font-size: 40px;
  margin-top: 40px;
}
.class1 {
  color: black;
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 1200px;
  margin-left: 0px;

}
.squares {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Mr De Haviland', cursive;
  max-width: 1200px;
}
.leftsquare {
  background: url("../img/dilapidated.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 1px;
  width: 400px;
  height: 400px;
  margin-left: 0px;
}

.middlesquare {
  background: url("../img/Manhattan.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px;
  width: 400px;
  height: 400px;
}
.rightsquare {
  background: url("../img/DC.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 400px;
  margin-left: 10px;
}
.manhattanbody {
  background-color: black;
  margin: 15px;
}
.othercitiesbody {
  background-color: black;
  margin: 15px;
}
.carousel-container, .carousel-item {
  height: 600px;
  width: 400px;
  margin-top: 4px;
}

.carousel-item-01 {
    background: url(../img/er170.jpg) center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
.carousel-item-1 {
  background: url(../img/er4.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-0 {
  background: url(../img/er5.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-00 {
  background: url(../img/er158.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-2 {
  background: url(../img/er7.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-3 {
  background: url(../img/er18.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-4 {
  background: url(../img/er41.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-5 {
  background: url(../img/er43.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-6 {
  background: url(../img/er44.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-7 {
  background: url(../img/er100.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-8 {
  background: url(../img/er91.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-9 {
  background: url(../img/er94.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-10 {
  background: url(../img/er99.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-11 {
  background: url(../img/er101.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-12 {
  background: url(../img/er103.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-13 {
  background: url(../img/er105.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-14 {
  background: url(../img/er106.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-15 {
  background: url(../img/er110.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-16 {
  background: url(../img/er111.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-17 {
  background: url(../img/er112.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-18 {
  background: url(../img/er113.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-19 {
  background: url(../img/er114.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-20 {
  background: url(../img/er160.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-21 {
  background: url(../img/er115.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-22 {
  background: url(../img/er116.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-23 {
  background: url(../img/er117.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-24 {
  background: url(../img/er119.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-25 {
  background: url(../img/er120.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-26 {
  background: url(../img/er121.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-27 {
  background: url(../img/er122.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-28 {
  background: url(../img/er123.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-29 {
  background: url(../img/er126.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-30 {
  background: url(../img/er128.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-31 {
  background: url(../img/er129.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-32 {
  background: url(../img/er132.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-33 {
  background: url(../img/er133.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-34 {
  background: url(../img/er149.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-35 {
  background: url(../img/er151.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-36 {
  background: url(../img/er152.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-37 {
  background: url(../img/er153.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-38 {
  background: url(../img/er154.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-39 {
  background: url(../img/er155.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-40 {
  background: url(../img/er159.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-41 {
  background: url(../img/er165.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-42 {
  background: url(../img/er164.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-43 {
  background: url(../img/er156.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-44 {
  background: url(../img/er163.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-45 {
  background: url(../img/er161.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-46 {
  background: url(../img/er3.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-47 {
  background: url(../img/er13.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-48 {
  background: url(../img/er14.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-49 {
  background: url(../img/er27.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-50 {
  background: url(../img/er203.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-51 {
  background: url(../img/er270.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-52 {
  background: url(../img/er300.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-53 {
  background: url(../img/er315.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-54 {
  background: url(../img/er316.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-55 {
  background: url(../img/er320.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-56 {
  background: url(../img/er242.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-57 {
  background: url(../img/er321.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-58 {
  background: url(../img/er333.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-59 {
  background: url(../img/er341.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-60 {
  background: url(../img/er343.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-61 {
  background: url(../img/er318.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-62 {
  background: url(../img/er319.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-63 {
  background: url(../img/e200.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-64 {
  background: url(../img/e201.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-65 {
  background: url(../img/e202.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-66 {
  background: url(../img/e203.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-67 {
  background: url(../img/e204.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-68 {
  background: url(../img/er00.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-69 {
  background: url(../img/er12.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-70 {
  background: url(../img/er22.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-71 {
  background: url(../img/er23.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-72 {
  background: url(../img/er24.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-73 {
  background: url(../img/er35.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-74 {
  background: url(../img/er36.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-75 {
  background: url(../img/er37.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-76 {
  background: url(../img/er38.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-77 {
  background: url(../img/er40.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-78 {
  background: url(../img/er90.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-79 {
  background: url(../img/er93.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-80 {
  background: url(../img/er201.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-81 {
  background: url(../img/er202.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-82 {
  background: url(../img/er204.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-83 {
  background: url(../img/er205.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-84 {
  background: url(../img/er206.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-85 {
  background: url(../img/er210.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-86 {
  background: url(../img/er213.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-87 {
  background: url(../img/er211.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-88 {
  background: url(../img/er212.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-89 {
  background: url(../img/er260.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-90 {
  background: url(../img/er303.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-91 {
  background: url(../img/er305.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-92 {
  background: url(../img/er309.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-93 {
  background: url(../img/er312.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-94 {
  background: url(../img/er331.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-95 {
  background: url(../img/er332.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-96 {
  background: url(../img/er334.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-97 {
  background: url(../img/er335.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-98 {
  background: url(../img/er336.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-99 {
  background: url(../img/er337.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-100 {
  background: url(../img/er338.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-101 {
  background: url(../img/er339.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-102 {
  background: url(../img/er340.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-103 {
  background: url(../img/er344.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-104 {
  background: url(../img/er92.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-item-10 {
  background: url(../img/e150.jpg) center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
